/* body{
    background-image: url('../../assets/img/yuvraj-singh-4V07cUP8Sxc-unsplash.jpg');
} */
img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item img{
    width: 100%;
}
.text{
    padding: 3em;
    color: white;
    text-align: left;
    /* max-width: 20%; */
    
}
.text h1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: auto;
    grid-gap: 40px;
}


.text p{
    font-size: 1.6em;
}
#carouselExampleSlidesOnly{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.carousel{
    text-align: center;
    width: 60%;
}
.carousel-inner{
    text-align: center;
}