<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let item of images.results" id="carousel"  class="carousel-item active">
      <img src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}" class="d-block w-500" alt="...">
      
    </div>

  </div>
  <div class="text">
    <h1>Benvenuto.</h1>
 <p>Milioni di film e serie TV da scoprire</p>
</div>
</div>

  <!-- <div class="text">
       <h1>Benvenuto.</h1>
    <p>Milioni di film e serie TV da scoprire</p>
  </div> -->
  